{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Neel Adalja</title>
</head>
<body>
<div class="nav">
    <div class="contactMe">
        <a href="#"><img src="static/chat_cloud.png" alt="chat cloud">Contact Me</a>
    </div>
    <div class="navIcons">
        <a href="#"><img src="static/snapchat.png" alt="snapchat"></a>
        <a href="#"><img src="static/linkedin.png" alt="linkedin"></a>
        <a href="#"><img src="static/facebook.png" alt="facebook"></a>
        <a href="#"><img src="static/instagram.png" alt="instagram"></a>

    </div>
</div>
<div class="landing">
    <div class="landingWrapper">
        <div class="landingLeft">
            <h1>Neel Adalja</h1>
            <p>Hello, my name is Neel Adalja. I am a <span class="blue">Full Stack Developer</span></p>
            <ul>
                <li><p>Front-end</p></li>
                <li><p>Back-end</p></li>
                <li><p>Full Stack</p></li>
            </ul>
        </div>
        <div class="landingRight">
            <img src="static/neel_profile.png" alt="Neel Adalja" width="350px">
        </div>
    </div>
    <img src="static/scroll.png" class="scroll">
</div>
<div class="skills">
    <h2>Skills</h2>
    <p>Proficient with </p>

    <div class="languages">
        <img src="static/html.png" alt="Html icon">
        <img src="static/css.png" alt="Css icon">
        <img src="static/python.png" alt="Python icon">
        <img src="static/perl.png" alt="Perl icon">
        <img src="static/c.png" alt="C icon">
    </div>
</div>

<div class="work clearfix">
    <div class="captionText">
        <h1>Experience</h1>
        <a href="#"><h5>View Experience</h5></a>
        <div class="underline"></div>
    </div>
    <img src="static/experience.png" alt="experience image" class="experienceImg">
</div>

<div class="work2 clearfix">
    <div class="captionText">
        <h1>Projects</h1>
        <a href="#"><h5>View Projects</h5></a>
        <div class="underline"></div>
    </div>
    <img src="static/projects.png" alt="experience image" class="experienceImg">
</div>

<div class="contact">
    <h2>Contact Me</h2>
    <p>If you like my work and would like to work with me <br>feel free to leave
        me a message at <span class="blue"> neeladalja1997@gmail.com </span></p>
</div>

<div class="footer">
    <p class="blue">Neel Adalja</p>
     <div class="navIcons">
        <a href="#"><img src="static/snapchat.png" alt="snapchat"></a>
        <a href="#"><img src="static/linkedin.png" alt="linkedin"></a>
        <a href="#"><img src="static/facebook.png" alt="facebook"></a>
        <a href="#"><img src="static/instagram.png" alt="instagram"></a>

    </div>
</div>
</body>
</html>