{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Neel Adalja</title>
</head>
<body>
<div class="nav">
    <div class="contactMe">
        <a href="#"><img src="static/chat_cloud.png" alt="chat cloud">Contact Me</a>
    </div>
    <div class="navIcons">
        <a href="#"><img src="static/snapchat.png" alt="snapchat"></a>
        <a href="#"><img src="static/linkedin.png" alt="linkedin"></a>
        <a href="#"><img src="static/facebook.png" alt="facebook"></a>
        <a href="#"><img src="static/instagram.png" alt="instagram"></a>

    </div>
</div>
</body>
</html>