{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Neel Adalja</title>
</head>
<body>
<h1>Portfolio</h1>
<p>Neel Portfolio</p>
<div class="nav">
    <div class="contactMe">
        <a href="#"><img src="images/chat_cloud.png" alt="chat cloud">Contact Me</a>
    </div>
    <div class="navIcons">

    </div>
</div>
</body>
</html>